.editor-container {
  width: 100%;
  /*min-height: 20rem;*/
  height: 100%;
}

.editor-container section {
  height: 100%;
  /*width: 100%;*/
  box-sizing: border-box;
}

.cm-editor {
  font-size: 0.85rem;
}
