* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  /* font-family: "Nanum Gothic", sans-serif; */
  line-height: 1.8;
  color: #333;
  max-width: 100%;
  margin: 0 auto;
  background-color: #f0f0f0;
  font-size: 16px;
}

.App {
  height: 100%;
  margin: auto;
  padding: 20px;
  /*background-color: rgba(102, 102, 102, 0.24);*/
  /*max-width: 768px;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /* font-family: "Nanum Gothic", sans-serif; */
  /*font-size: 1rem;*/
}

/*@media (min-width: 640px) {*/
/*  .App {*/
/*  }*/
/*}*/
