.tree {
  display: flex;
  overflow: auto;
}

.tree ul {
  padding-left: unset;
  margin-bottom: unset;
  /*width: 100%;*/
  display: flex;
  /*align-items: center;*/
  /*justify-content: space-evenly;*/
  list-style: none;
  text-align: center;
  /*margin: 1rem;*/
  list-style: none;
  position: relative;
}

.tree li {
  margin: 2rem;
  position: relative;
}

.tree ul li div {
  display: inline-block;
  border: rgba(0, 0, 0, 0.63) 1px solid;
  padding: 0.4rem 0.8rem;
}

.tree li::before,
.tree li::after {
  content: "";
  position: absolute;
  top: -1rem;
  border-top: 2px solid #ccc;
  /*background-color: red;*/
  right: 50%;
  width: calc(51% + 2rem);
  height: 1rem;
}

.tree li::after {
  right: auto;
  left: 50%;
  border-left: 2px solid #ccc;
}

.tree li:only-child {
  padding-top: 0;
}

.tree li:first-child::before,
.tree li:last-child::after {
  border: 0 none;
}

.tree li:last-child::before {
  border-right: 2px solid #ccc;
  border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
  border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
}

.tree ul ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 2px solid #ccc;
  width: 0;
  height: 1rem;
}

.tree ul ul li:only-child {
  position: relative;
}

.tree li:only-child::after,
.tree li:only-child::before {
  display: none;
}

.tree ul ul li:only-of-type::before {
  display: unset;
  content: "";
  position: absolute;
  top: -1rem;
  left: 50%;
  border: none;
  border-left: 2px solid #ccc;
  width: 0;
  height: 1rem;
  border-radius: unset;
}

/*_______________________*/

.node-container {
  max-width: 300px;
  width: 100%;
}

.node-container * {
  white-space: initial;
  overflow-wrap: break-word;
}

.style-node {
  text-align: left;
  width: 300px;
  background-color: rgba(255, 198, 122, 0.2);
}

.style-node p {
  margin-bottom: unset;
}

.cssom-styles-container {
  border: none !important;
  background-color: transparent !important;
  padding: 0 !important;
}
