.node-style-properties div {
  background-color: rgba(255, 198, 122, 0.2);
}

.cssom-styles-container {
  border: none !important;
  background-color: transparent !important;
  padding: 0 !important;
}
