* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  margin: auto;
  /*background-color: rgba(102, 102, 102, 0.24);*/
  max-width: 768px;
  display: flex;
  flex-direction: column;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 1.125em;
}

/*@media (min-width: 640px) {*/
/*  .App {*/
/*  }*/
/*}*/
